@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
.container {
  max-width: 1330px;
  width: 85%;
  margin: 0 auto;
  margin-top: 5rem;
}

.stars-element {
  padding: 1rem 1.5rem;
  background-color: #f7f2f7;
  border-radius: 5px;
  font-size: .7rem;
  font-weight: bold;
  color: #502050;
  display: flex;
  align-items: center;
}

.stars-element .stars-container {
  vertical-align: middle;
  margin-right: 1rem;
  display: inline-block;
}

.customer-reviews .review {
  width: 32%;
  background-color: #502050;
  padding: 1.5rem;
  border-radius: 5px;
  color: white;
}

.customer-reviews .review:nth-child(2) {
  transform: translateY(15px);
}

.customer-reviews .review:nth-child(3) {
  transform: translateY(30px);
}

.customer-reviews .review:not(:last-child) {
  margin-right: 1rem;
}

.customer-reviews .review .customer {
  display: flex;
}

.customer-reviews .review .customer .customer-photo-container {
  margin-right: 1rem;
}

.customer-reviews .review .customer .customer-photo-container .customer-photo {
  width: 40px;
  border-radius: 500px;
}

.customer-reviews .review .customer .customer-infos span {
  display: inline-block;
}

.customer-reviews .review .customer .customer-infos .customer-name {
  font-weight: bold;
}

.customer-reviews .review .customer .customer-infos .verified-buyer {
  color: #ee68a4;
}

.customer-reviews .review .customer-review {
  margin-top: 1rem;
  line-height: 1.7;
}

@media screen and (max-width: 800px) {
  .customer-reviews {
    display: block;
  }
  .customer-reviews .review {
    width: 100%;
  }
  .customer-reviews .review:not(:last-child) {
    margin-right: 0rem;
  }
}

.review-section .testimonial-title {
  margin-bottom: .5rem;
}

.review-section .review-section-top {
  display: flex;
  justify-content: space-between;
}

.review-section .review-stars .stars-element:not(:last-child) {
  margin-bottom: .5rem;
}

.review-section .review-stars .stars-element:nth-child(1) {
  transform: translateX(-7rem);
}

.review-section .review-stars .stars-element:nth-child(2) {
  transform: translateX(-5rem);
}

.review-section .review-stars .stars-element:nth-child(3) {
  transform: translateX(-3rem);
}

.review-section .customer-reviews {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  font-size: .7rem;
}

@media screen and (max-width: 800px) {
  .review-section .customer-reviews {
    display: block;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
}

.testimonial-title {
  font-weight: bold;
  color: #502050;
  font-size: 2.3rem;
}

.small-gray-paragraph {
  font-size: .8rem;
  color: #937b92;
}
