@import 'utils/variables';
@import "utils/container";

@import "components/stars-element";
@import "components/review-card";

@import "page/review-section";

@import 'base/reset';
@import 'base/typography';


