@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

body {
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
}


// Titles
.testimonial-title {
    font-weight: bold;
    color: $very-dark-magenta;
    font-size: 2.3rem;
}

// paragraphs
.small-gray-paragraph {
    font-size: .8rem;
    color: $gray-magenta;
}